@import '../../layout.less';

#settings {
	padding: @mobilePadPx;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	h2 {
		padding: 10px 0;
	}
}

// ipad and desktop
@media all and (min-width: @maxMobileWidthPx) {
	#settings {
		padding: @desktopPadPx;
	}
}