#settings {
  padding: 8px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#settings h2 {
  padding: 10px 0;
}
@media all and (min-width: 414px) {
  #settings {
    padding: 20px;
  }
}
